* {
  text-align: center;
  font-size: 24px;
}

header {
  width: 100%;
  background-color: orangered;
  box-sizing: border-box;
  border: 1px solid gray;
  padding: 15px;
}
body {
  background-color: bisque;
}

nav {
  width: 200px;
  height: auto;
  background-color: rgb(17, 41, 173);
}

div {
  width: 200px;
  height: auto;
  border: 2px solid darkblue;
  background-color: brown;
  box-sizing: border-box;
  padding: 15px;
}
div {
  display: gird;
  grid-template-columns: 1fr 2fr 3fr 4fr;
}

footer {
  margin-top: 400px;
}
