div {
  background-color: yellow;
  width: 200px;
  border: 1px solid red;
  color: blue;
}

.displayGrid {
  display: grid;
  grid-gap: 10px;

  grid-template-columns: repeat(auto-fit, minmax(200px, 8fr));
}
